{% extends 'base.html.twig' %}

{% block body %}
    <h1>Quiz</h1>
    <div id="app"></div>
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}
